<header>
  <p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="40" height="40">
      <path fill="none" d="M0 0h24v24H0z" />
      <path d="M21 3a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1h-2.001L19 20a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1l-.001-8.001L3 12a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h6a3 3 0 0 0 6 0h6z"
            fill="#fff" />
    </svg></p>
  <nav>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Projects</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">About Us</a></li>
    </ul>
  </nav>
  <button (click)="{}">Sign Up</button>
</header>
<div style="display: grid;place-items: center;">
  <div style="width: 100%;max-width: 600px;display: grid;grid-template-columns: repeat(4, 1fr);gap: 1rem;">
    <button (click)="changeTheme('default')">
      Default
    </button>

    <button (click)="changeTheme('netflix')">
      Netflix
    </button>

    <button (click)="changeTheme('spotify')">
      Spotify
    </button>

    <button (click)="changeTheme('dark')">
      Dark
    </button>

  </div>
</div>
<footer>
  <ul>
    <li><a href="https://twitter.com/AdiSreyaj">Twitter</a></li>
    <li><a href="https://blog.sreyaj.dev/">Blog</a></li>
    <li><a href="https://dev.to/adisreyaj">Dev</a></li>
    <li><a href="https://github.com/adisreyaj">Github</a></li>
    <li>
      <p>👋</p>
    </li>
  </ul>
</footer>